.chart{
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 15px 4px rgba(0,0,0,0.06); 
    box-shadow: 1px 1px 15px 4px rgba(0,0,0,0.06);
    border-radius: 5px;

    .chartAnalytics {
        padding: 5px;
        margin: 5px;
    }
}