.navbar{
    color: white;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.4) 50%);

    &.scrolled{
        background-color: black;
    }
 
    .container{
        
        padding: 0  3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
       
        .left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            img{
                height: 20%;
                width: 20%;
            }
        }
        .right{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            img{
                height: 40px;
                width: 40px;
                border-radius: 2rem;
                object-fit: cover;
                margin-left: 20px;
                cursor: pointer;
            }
            .icons{
                cursor: pointer;
                margin: 20px;
            }
        }

        .profile{
            .options{
                display: none;
                background-color: black;
                border-radius: 0.2rem;

                

            }
            span{
                padding: 10px;
                cursor: pointer;
            }

            &:hover{
                .options{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                }
            }
        }
        
    }
}
.navLink{
    text-decoration: none;
    color: inherit;
}