.watch{
    // width: 1000vw;
     height: 100vh;

    .back{
        display: flex;
        align-items: center;
        position: absolute;
        top: 10px;
        left: 10px;
        color: white;
        cursor: pointer;
        z-index: 2;
    }
    .video{
        width: 100%;
        height: 80%;
        object-fit: cover;
    }
    .wrapIt{
        padding: 30px;

        .wrapUpload{
            display: flex;
            margin: 10px;
            color: rgb(143, 142, 142);

            .date{
                margin-left: 10px;
            }
        }
    }
}
.descWrap{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;

    .descHeading{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }
}